ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-bottom: var(--sp-2);
}

.todo-enter {
  animation: todo-enter 200ms ease-out;
}

.todo-leave {
  animation: todo-leave 300ms ease-in forwards;
}

@keyframes todo-enter {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes todo-leave {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}
